<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Order</title>
</head>
<body>
<div style="display:flex;align-items:center;margin-top:40px;font-size:30px;justify-content:center;">
    <div style="display:flex;">
        <h1>Dear <span th:text="${recipient}"></span></h1>
    </div>
    <div style="display:flex;font-size:14px;">
        <p th:inline="text">
            [(${message})]
        </p>
    </div>
</div>
</body>
</html>