body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-common{
  color: rgb(145, 0, 0);
  background-color: fuchsia;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-page{
  padding-top: 1%;
}

html,
body{
  min-height: 100vh;
  overflow-x: hidden;
}

#root{
  min-height: 100vh;
}


.rating-area {
	overflow: hidden;
	width: 100%;
  height: 100px;
	margin: 0 auto;
}
.rating-area:not(:checked) > div > div > input {
	display: none;
}
.rating-area:not(:checked) > div > div > label {
	float: right;
	width: 75px;
	padding: 0;
	cursor: pointer;
	font-size: 100px;
	line-height: 32px;
	color: lightgrey;
}

.rate-number{
  margin-left: 20px;
}

.rate {
  	width: 75px;
}
.rating-area:not(:checked) > div > div > label:before {
	content: '★';
}
.rating-area > div  > div > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > div > div >  label:hover,
.rating-area:not(:checked) > div > div > label:hover ~ label {
	color: gold;
}

.rating-area > div > div > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}

.rate-area > div > label:active {
	position: relative;
}

.rated-area {
	overflow: hidden;
	width: 100%;
  	height: 100px;
	margin: 0 auto;
}
.rated-area:not(:checked) > div > div > input {
	display: none;
}
.rated-area:not(:checked) > div > div > label {
	float: right;
	width: 75px;
	padding: 0;
	cursor: pointer;
	font-size: 100px;
	line-height: 32px;
	color: lightgrey;
}

.rate-number{
  margin-left: 20px;
}

.rate {
  	width: 75px;
}
.rated-area:not(:checked) > div > div > label:before {
	content: '★';
}
.rated-area > div  > div > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.rate-area > div > label:active {
	position: relative;
}

.sorting{
    padding:4px 21px 4px 4px;
    cursor:pointer;
}

.sorting-asc{
    background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==) no-repeat center right;

}


.sorting-desc{
    background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=) no-repeat center right;
}